{% extends 'base.html' %}


{% block content %}
<div class="container">
    <!-- Background image -->
    <!-- <div class="bg-image"
        style="background-image: url('../../static/images/universe.jpg');">
    </div> -->
    <!-- Background image -->

    <!-- Header Section -->
    <header class="row">
        <div class="col-md-6" id="header-text">
            <h2>Let's Explore the Universe</h2>
            <h5>Begin your journey</h5>
        
            <div>
                <button class="btn btn-primary">Navigate</button>
                <button class="btn btn-primary">Join Our Discord</button>
            </div> 
            
        </div> 
            <!-- Header Image -->
        <div class="col-md-6">
            <img src="../../static/images/astronaut.png" alt="Hero Header Image" class="header-image">
        </div>
            
    </header>
    <!-- End of Header Section -->
    <!-- Start of Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Collection ╰(*°▽°*)╯</h2>
            <p>You can harness the power of an API to expand your collection!</p>
        </div>
    </section>
    <!-- End of Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/sun.png" alt="sun image" id="sun-image">
            <h4>Planets</h4>
            <p>Explore individual planets</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/earth.png" alt="earth image" id="earth-image">
            <h4>Solar Systems</h4>
            <p>See what makes up a solar system</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/moon.png" alt="moon image" id="moon-image">
            <h4>Galaxies</h4>
            <p>Find a galaxy far far away</p>
        </div>      
    </section>
    <!-- End of Collection of Features -->
    <!-- Start of Community Section -->
    <section class="row" id="community-section">
        <!-- <div class="col-12 col-md-6">
            <img src="../../static/images/undraw_drone_surveillance_kjjg.svg" alt="Drone Image" id="drone-image">
        </div> -->
        <div class="col-12 col-md-6">
            <h1>Join Fellow Space Explorers</h1>
            <p>
                Talk with other developers around the world and collab on projects with your data. 
            </p> 
            <p>
                Join our discord and give a star to the project on github!
            </p>
            <div>
                <button class="btn btn-primary">View on Github</button>
                <button class="btn btn-primary">Join our Discord</button>
            </div>

        </div>

    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer -->
    <footer class="row" id="footer">
        <div class="col-2">
            <img src="../../static/images/Coding Drones Logo.png" alt="Coding Drones Logo" id="footer-logo">
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Coding Drones Project</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer> 
</div>

{% endblock content %}