/* Nav Styles */
.ct-nav {
    display: flex;
    justify-content: space-between;
}

/* Background Image */

body {
/* The image used */
background-image: url('../images/universe.jpg');

/* Full height */

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/* Target Main Image */
.ct-nav img {
    width: 25%;
    max-width: 100%;
    margin-left: 2vw;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li,
ul#horizontal-list a {
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    margin-right: 0.2vw;
}

/* End of Nav Styles */
/* Hero/Header Portion */
#header-text {
    padding: 2vw;
    color: aliceblue;
    font-weight: bolder;
}

.header-image {
    width: 82%;
    max-width: 100%;

}

/* Home page Styles */
/* middle section */
#middle-text {
    text-align: center;
    padding: 13vh;
    color: aliceblue;
}

#middle-text h2 {
    padding: 1.5vw;
}

/* end of middle section */
/* Features Section */
#sun-image,
#earth-image,
#moon-image {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#features-section {
    margin: 8vw;
    color: aliceblue;
}

/* End of Features Section */
/* Community Section */
#community-section {
    color: white;
}

/* end of community section */
/* Footer Section */
.footer-text-flex {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

#footer-logo {
    width: 100%;
    max-width: 100%;
}

#footer {
    border-top: 3px solid black;
    margin-top: 20vh;
}